* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --indigoColor: #7027A0;
    --limeColor: #1DB9C3;
    --limeHoverColor: #1e8f97;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    background-color: var(--indigoColor);
    font-size: 14px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

nav .navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

nav .navbar-collapse {
    display: flex;
    align-items: center;
}

nav .navbar-nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

nav .navbar-nav .nav-link {
    font-weight: 500;
    transition: all .2s;
}

nav .navbar-nav .nav-link.active {
    color: var(--limeColor);
    font-weight: 600;
}

nav .navbar-nav .nav-link:hover {
    color: var(--limeColor);
}

nav .btn-sign-up {
    background-color: var(--limeColor);
    padding: 8px 24px;
    border-radius: 6px;
    margin-left: 20px;
    transition: all .2s;
}

nav .btn-sign-up:hover {
    background-color: var(--limeHoverColor);
}

nav .navbar-toggler {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
}

nav .navbar-toggler input {
    position: absolute;
    top: 0;
    left: -9px;
    width: 40px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

nav .navbar-toggler span {
    display: block;
    background-color: white;
    width: 22px;
    height: 4px;
    border-radius: 4px;
    transition: all .2s;
}

nav .navbar-toggler span:nth-child(2) {
    transform-origin: 0 0;
}

nav .navbar-toggler span:last-child {
    transform-origin: 0 100%;
}

nav .navbar-toggler input:checked~span:nth-child(2) {
    transform: rotate(45deg);
    background-color: var(--limeColor);
    width: 26px;
    margin: 0 -4px 0 4px;
}

nav .navbar-toggler input:checked~span:nth-child(3) {
    transform: scale(0)
}

nav .navbar-toggler input:checked~span:last-child {
    transform: rotate(-45deg);
    background-color: var(--limeColor);
    width: 26px;
    margin: 0 -4px 0 4px;
}

@media (max-width: 932px) {
    nav .container {
        padding: 12px 0;
    }

    nav .navbar-collapse {
        width: 100%;
        display: block;
        position: absolute;
        top: -1000px;
        left: 0;
        background-color: var(--indigoColor);
        padding: 0 10%;
        padding-bottom: 24px;
        z-index: -1;
        transition: all .5s;
    }

    nav .navbar-collapse.active {
        top: 56px;
    }

    nav .navbar-nav {
        width: 100%;
        margin-bottom: 30px;
    }

    nav .navbar-nav,
    nav .navbar-nav .nav-link {
        display: block;
    }

    nav .navbar-nav .nav-link {
        margin: 10px 0;
    }

    nav .navbar-toggler {
        display: flex;
    }
}